
{{ RenderPhoto (.PreferredValue "PHOTO") }}

{{ .PreferredValue "FN" }}
----------------------------------------
Birthday:  {{ .PreferredValue "BDAY" }}
Tel.:      {{ .PreferredValue "TEL" }}
Email:     {{ .PreferredValue "EMAIL" }}
Address:
{{ RenderAddress (.PreferredValue "ADR") }}

